@font-face {
    font-family: "Times New Roman", Times, serif;
}
html {
   margin: 5px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   background: url(leftgrid.png),url(rightgrid.png);
   background-position: left bottom, right bottom; 
   background-repeat: no-repeat, no-repeat;
   width:100%;
   length:100%;
}

h1 {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
}
h2 {
    color: purple;
    font-family: "Times New Roman", Times, serif;
}
